.Window {
    display: flex;
    justify-content: center;
}

.Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    border: 1px solid rgb(168, 124, 182);
    background-image: linear-gradient(rgb(61, 65, 78), rgb(41, 24, 102));
    border-radius: 10px;
    width: 70vw;
    height: 90vh;
}

.ChatTitle {
    align-self: top;
    color: rgb(248, 207, 132);
}

.ChatWindow {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    border: 1px solid rgb(133, 101, 161);
    border-radius: 5px;
    height: 80%;
    width: 80%;
}

.MessagesList {
    list-style: none;
    font-weight: bold;
    width: 80%;
    color: rgb(250, 213, 134);
}

.InputDiv {
    width: 50%;
    margin-bottom: 20px;
}

.loggedOutText {
    color: rgb(241, 187, 105);
}