.InputBox {
    width: 50%;
    height: 1.2rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(179, 192, 250);
}

.SubmitButton {
    width: 4.5rem;
    height: 1.8rem;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background: rgb(63, 1, 78);
    cursor: pointer;
    color: white;
}

@media screen and (max-width: 800px) {
    .InputBox {
        width: 50%;
        height: 1.0rem;
        border: 1px solid black;
        border-radius: 5px;
        background-color: rgb(179, 192, 250);
    }
    
    .SubmitButton {
        width: 4.0rem;
        height: 1.3rem;
        margin-left: 10px;
        border: 1px solid black;
        border-radius: 5px;
        background: rgb(30, 90, 168);
        cursor: pointer;
        color: white;
    }
}